* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', cursive;
}

body, html {
    background: #222;
}

.speech-input-text {
    color: #FFF;
}

.speech-output-text {
    color: #FFF;
}

.widget {
    position: absolute;
    height: 92px;
    width: 425px;
    background-color: #E5896A;
    border-radius: 18px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-image: url('widgets/sunny-widget-background.svg');
}

.widget * {
    font-family: 'Lato', sans-serif;
}

.widget ul>li {
    font-size: 24px;
    color: #FFF;
}

.widget ul>li img {
    width: 30px;
}

.widget h1 {
    color: #FFF;
    position: absolute;
    font-size: 48px;
    left: 10px;
    bottom: 0px;
}

.widget .date-container {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 400;
    text-align: right;
    color: #FFF;
}

.widget .city {
    position: absolute;
    font-size: 18px;
    font-weight: lighter;
    right: 10px;
    bottom: 5px;
    color: #FFF;
}

.list-inline {
    list-style: none;
}

.list-inline li {
    vertical-align: text-top;
    display: inline-block;
}

h3, h2 {
    margin: 0 !important;
}

.date-time {
    position: absolute;
    text-align: center;
    color: #FFF;
    top: 20px;
    left: 40px;
}

#main-clock {
    font-weight: 350;
    font-size: 72px;
}

#main-date {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    bottom: 0px;
}